<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hr">

<!-- 회사 부서목록 -->
<select id='department_list' resultType='hr.DepartmentVO'>
select * from departments order by department_name
</select>
<!-- 회사 업무목록 -->
<select id='job_list' resultType='hr.JobVO'>
select * from jobs order by job_title
</select>

<!-- 사원정보 신규저장 -->
<insert id="insert">
insert into employees 
(employee_id, last_name, first_name, email, phone_number, job_id, salary, hire_date, department_id)
values (employees_seq.nextval, #{last_name}, #{first_name}, #{email}, #{phone_number}, #{job_id}, #{salary}
		, #{hire_date}, 
		<if test='department_id==-1'>null</if>
		<if test='department_id!=-1'>#{department_id}</if> 
	   )
</insert>

<!-- 사원정보변경저장 -->
<update id="update">
update employees 
set last_name = #{last_name}, first_name = #{first_name}, email = #{email}
	, phone_number = #{phone_number}, job_id = #{job_id}
	, salary = #{salary}, hire_date = #{hire_date}
	, department_id = 
		<if test='department_id==-1'>null</if>
		<if test='department_id!=-1'>#{department_id}</if>		 
where employee_id = #{employee_id}
</update>


<!-- 사원정보삭제 -->
<delete id="delete">
delete from employees where employee_id = #{employee_id}
</delete>

<!-- 사원정보조회 -->
<select id='info' resultType='hr.EmployeeVO'>
select e.*, last_name || ' '|| first_name name, department_name, job_title 
from employees e left outer join departments d on e.department_id=d.department_id
inner join jobs j on j.job_id=e.job_id 
where employee_id = #{employee_id}
</select>

<!-- 사원목록조회 -->
<select id='list' resultType='hr.EmployeeVO'>
select * from employees order by employee_id
</select>

</mapper>

